<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
{% if error %}
<p>Invalid data submitted</p>
{% endif %}
{% if prev_submission_count %}
<table>
<tr><th rowspan="2" style="vertical-align: bottom" >previous saves:</th><td>path</td><td>?</td><td>#</td></tr>
<tr><td>{{ prev_submission_count_pathonly }}</td><td>{{ prev_submission_count_withq }}</td><td>{{ prev_submission_count_withqandf }}</td></tr>
</table>
{% endif %}
{% if bookmark_id %}
<p>owned by: {{ owner }}</p>
{% endif %}
<form action="{% if bookmark_id %}{% url 'bookmarkmanager:update_bookmark' bookmark_id %}{% else %}{% url 'bookmarkmanager:submit_bookmark' %}{% endif %}" method="post">
<!-- <form action="/bookmarkmanager/submit/{% if bookmark_id %}{{ bookmark_id }}/{% endif %}" method="post"> -->
    {% csrf_token %}
<table>
{{ form }}
</table>
    <input type="hidden" name="next" value="{{ next }}"/>
    <input type="submit" value="Submit" />
    <input type="submit" name="cancel" value="Cancel" />
</form>
</body>
</html>
