{% load staticfiles %}
<!--  maybe add <!DOCTYPE html>, if adding need to edit css -->
<html lang="en">
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'bookmarkmanager/css/style.css' %}">
        <title>{% block title %}// Bookmark Manager //{% endblock title %}</title>
    </head>
    <body>

        <div id="header">
            <a href="{% url 'bookmarkmanager:sessions' %}">All Sessions</a>  |  <a href="{% url 'bookmarkmanager:index' %}">All Bookmarks</a>  |  <a href="{% url 'bookmarkmanager:index' %}?f=0">Folders</a>  |  <a href="{% url 'bookmarkmanager:add_bookmark' %}">Add a bookmark</a>  |  {{ "<a href='javascript:(function(){var a=window,b=document,c=encodeURIComponent,d=a.open(\"https://" |add:base_url|safe }}{% url "bookmarkmanager:add_bookmark" %}{{ "?url=\"+c(b.location)+\"&title=\"+c(b.title)+\"&notes=\"+c(a.getSelection()),\"bkmk_popup\",\"left=\"+((a.screenX||a.screenLeft)+10)+\",top=\"+((a.screenY||a.screenTop)+10)+\",height=420px,width=550px,resizable=1,alwaysRaised=1\");a.setTimeout(function(){d.focus()},300)})();'>Bookmarklet</a>" }}  |  <a href="https://www.dropbox.com/home/coding-projects/sessions%20saver%20(was%20authtest)/sessions%20saver%20chrome%20extension/save%20links%20from%20tabs%20plugin">Chrome Extension</a>  |  <a href="{% url 'bookmarkmanager:bm_logout' %}">Logout</a><br/>
        </div>

        {% block main %}

        {% endblock main %}
    </body>
</html>
