{% load staticfiles %}

<html>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'bookmarkmanager/css/style.css' %}">
</head>
<body>

<div id="header">
<a href="{% url 'bookmarkmanager:sessions' %}">All Sessions</a>  |  <a href="{% url 'bookmarkmanager:index' %}">All Bookmarks</a>  |  <a href="{% url 'bookmarkmanager:add_bookmark' %}">Add a bookmark</a>  |
{{ "<a href='javascript:(function(){var a=window,b=document,c=encodeURIComponent,d=a.open(\"https://" |add:base_url|safe }}{% url "bookmarkmanager:add_bookmark" %}{{ "?url=\"+c(b.location)+\"&title=\"+c(b.title)+\"&notes=\"+c(a.getSelection()),\"bkmk_popup\",\"left=\"+((a.screenX||a.screenLeft)+10)+\",top=\"+((a.screenY||a.screenTop)+10)+\",height=420px,width=550px,resizable=1,alwaysRaised=1\");a.setTimeout(function(){d.focus()},300)})();'>Bookmarklet</a>" }}  |
<a href="{% url 'bookmarkmanager:bm_logout' %}">Logout</a><br/>
</div>

{% if bookmark %}
        <div>
            <h1><a href="{{ bookmark.url }}">{{ bookmark.title }}</a> <a href="{% url 'bookmarkmanager:edit_bookmark' bookmark.id %}"><img src="{% static 'bookmarkmanager/page_white_edit.png' %}"/></a> <a href="{% url 'bookmarkmanager:delete_bookmark' bookmark.id %}"><img src="{% static 'bookmarkmanager/cross.png' %}"/></a></h1>
            <div id="session-info">
            <!--<div><a href="{{ bookmark.url }}"> {{ bookmark.url }}</a></div><br/>-->
            Added: {{bookmark.datetime_added}}<br/>
            <div class="bookmark-url">{{ bookmark.url }}</div>
            {% if bookmark.notes %}<div class="bookmark-notes"><p>{{ bookmark.notes }}</p></div>{% endif %}
            {% if bookmark.tags.all %}
                <span>> 
                {% for tag in bookmark.tags.all %}
                    <a href="{% url 'bookmarkmanager:index' %}?page=1&per_page=10{{ '&tags='|add:tag.slug }}">{{ tag.name }}</a>{% if not forloop.last %}, {% endif %}
                {% endfor %}
                </span>
            {% endif %}
            </div>
        </div>
{% else %}
        <div>
            <h1>Bookmark not found</h1>
        </div>
{% endif %}

</body>
</html>
