<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
{% if error %}
<p>Invalid data submitted</p>
{% endif %}
{% if session_id %}
<p>owned by: {{ owner }}</p>
{% endif %}
<form action="{% if session_id %}{% url 'bookmarkmanager:update_session' session_id %}{% else %}{% url 'bookmarkmanager:submit_session' %}{% endif %}" method="post">
<!-- <form action="/bookmarkmanager/submit/s/{% if bookmark_id %}{{ bookmark_id }}/{% endif %}" method="post"> -->
    {% csrf_token %}
<table>
{{ form }}
</table>
    <input type="hidden" name="next" value="{{ next }}"/>
    <input type="submit" value="Submit" />
    <input type="submit" name="cancel" value="Cancel" />
</form>
</body>
</html>
