{% extends "bookmarkmanager/base.html" %}
{% load staticfiles %}

{% block title %}{% if parent_folder %}Folder: {{ parent_folder.title}}{% else %}Folders{% endif %} {{ block.super }}{% endblock title %}

{% block main %}
{% if parent_folder %}
        <div>
            <h1>Folder: {{ parent_folder.title }} {% comment %} <a href="{% url 'bookmarkmanager:edit_session' session.id %}"><img src="{% static 'bookmarkmanager/page_white_edit.png' %}"/></a> <a href="{% url 'bookmarkmanager:delete_session' session.id %}"><img src="{% static 'bookmarkmanager/cross.png' %}"/></a> {% endcomment %}</h1>
            {% comment %} <div id="session-info">
            {% if session.title %}Added: {{session.datetime_added}}<br/>{% endif %}
            {% if session.notes %}<div class="index-bookmark-notes"><p>{{ session.notes }}</p></div>{% endif %}
            {% if session.tags.all %}
                <span>> 
                {% for tag in session.tags.all %}
                    <a href="{% url 'bookmarkmanager:index' %}?page=1&per_page={{per_page}}&s={{session.id}}{% if current_tags %}{{ '&tags='|add:current_tags|add:','|add:tag.slug }}{% else %}{{ '&tags='|add:tag.slug }}{% endif %}">{{ tag.name }}</a>{% if not forloop.last %}, 
{% endif %}
                {% endfor %}
                </span>
            {% endif %}
            </div>{% endcomment %}
        </div>
{% else %}
        <div>
            <h1>Folders</h1>
        </div>
{% endif %}


<div id="rest-of-page">

{% if parent_folder %}
    <a href="{% url 'bookmarkmanager:index' %}?page=1&per_page={{per_page}}&f=0{% if current_tags %}{{ '&tags='|add:current_tags }}{% endif %}">Folders</a> > 
    {% for folder in parent_folder.path %}
        <a href="{% url 'bookmarkmanager:index' %}?page=1&per_page={{per_page}}&f={{folder.id}}{% if current_tags %}{{ '&tags='|add:current_tags }}{% endif %}">{{ folder.title }}</a>{% if not forloop.last %} > {% endif %}
    {% endfor %}
    <br/><br/>
{% endif %}


<a href="{% url 'bookmarkmanager:add_folder' %}?parent_folder={{ parent_folder.id }}&title=New+Folder">Add Folder</a> <a href="{% url 'bookmarkmanager:add_bookmark' %}?parent_folder={{ parent_folder.id }}&title=New+Bookmark&url=http://example.com">Add Bookmark</a> 

{% if folders %}
    {% if parent_folder %}<h2>Subfolders</h2>{% endif %}
    <ul>
    {% for folder in folders %}
        <li><a href="{% url 'bookmarkmanager:index' %}?page=1&per_page={{per_page}}&f={{folder.id}}{% if current_tags %}{{ '&tags='|add:current_tags }}{% endif %}">{{ folder.title }}</a> <a href="{% url 'bookmarkmanager:edit_folder' folder.id %}"><img src="{% static 'bookmarkmanager/page_white_edit.png' %}"/></a> <a href="{% url 'bookmarkmanager:delete_folder' folder.id %}"><img src="{% static 'bookmarkmanager/cross.png' %}"/></a></li>
    {% endfor %}
    </ul>
{% endif %}


{% if count > 0 and bookmarks %}
    <h2>Bookmarks</h2>
    <span class="index-buttons"><input type="button" onClick="$('.index-bookmark-url').toggle()" value="Show/Hide URLs"/><input type="button" onClick="$('.index-bookmark-notes').toggle()" value="Show/Hide Notes"/></span><br/>
    {{ count }} Bookmark{{ count|pluralize }} {% if tags %}{% if session %}including those {% endif %}matching the tag{{ tags|pluralize }}: {% for tag in tags %}{{ tag.name }}<a href="{% url 'bookmarkmanager:index' %}?page=1&per_page={{per_page}}{{ '&tags='|add:current_tags }}{{ '&removetag='|add:tag.slug }}"><img src="{% static 'bookmarkmanager/cross.png' %}"/></a>{% if not forloop.last %}, {% endif %}{% endfor %}.{% else %}in Total.{% endif %}  Showing newest ({{ page_start }} to {{ page_end }}).<br/>

    <ul>
    {% for bookmark in bookmarks %}
        <li>
            <div class="index-bookmark-title"><a href="{{ bookmark.url }}">{{ bookmark.title }}</a> <a href="{% url 'bookmarkmanager:edit_bookmark' bookmark.id %}"><img src="{% static 'bookmarkmanager/page_white_edit.png' %}"/></a> <a href="{% url 'bookmarkmanager:delete_bookmark' bookmark.id %}"><img src="{% static 'bookmarkmanager/cross.png' %}"/></a> <a href="{% url 'bookmarkmanager:view_bookmark' bookmark.id %}"><img src="{% static 'bookmarkmanager/magnifying_glass_alt.png' %}"/></a></div>
            {% if bookmark.url %}<div class="index-bookmark-url">{{ bookmark.url }}</div>{% endif %}
            {% if bookmark.notes %}<div class="index-bookmark-notes"><p>{{ bookmark.notes }}</p></div>{% endif %}
            {% if bookmark.tags.all %}
                <span>> 
                {% for tag in bookmark.tags.all %}
                    <a href="{% url 'bookmarkmanager:index' %}?page=1&per_page={{per_page}}{% if current_tags %}{{ '&tags='|add:current_tags|add:','|add:tag.slug }}{% else %}{{ '&tags='|add:tag.slug }}{% endif %}">{{ tag.name }}</a>{% if not forloop.last %}, {% endif %}
                {% endfor %}
                </span>
            {% endif %}
        </li>
    {% endfor %}
    </ul>
    {% autoescape off %}
    <div>Page: {{ pager|join:" | " }}  go to: <form id="go-to-page-form"><input type="text" size="4" name="page"/><input type="hidden" name="per_page" value="{{ per_page }}" />{% if tags %}<input type="hidden" name="tags" value = "{{current_tags}}">{% endif %}{% if session %}<input type="hidden" name="s" value = "{{session.id}}">{% endif %}<input type="submit" value="Go" /></div>
    <div>Offset: {{ offsets|join:" | " }}</div>
    {% endautoescape %}
{% else %}
    {% if parent_folder and parent_folder != 0 %}<p>No bookmarks.</p>{% endif %}
{% endif %}

<script src="{% static 'bookmarkmanager/js/jquery-2.1.4.js'  %}" >
</script>
</div>
{% endblock main %}
