{% extends "bookmarkmanager/base.html" %}
{% load staticfiles %}

{% block title %}{% if session %}Session: {{ session.title|default:session.datetime_added}}{% else %}Bookmarks{% endif %} {{ block.super }}{% endblock title %}

{% comment 'this section now moved to base template' %}
<html>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'bookmarkmanager/css/style.css' %}">
</head>
<body>

<div id="header">
<a href="{% url 'bookmarkmanager:sessions' %}">All Sessions</a>  |  <a href="{% url 'bookmarkmanager:index' %}">All Bookmarks</a>  |  <a href="{% url 'bookmarkmanager:add_bookmark' %}">Add a bookmark</a>  |
{{ "<a href='javascript:(function(){var a=window,b=document,c=encodeURIComponent,d=a.open(\"https://" |add:base_url|safe }}{% url "bookmarkmanager:add_bookmark" %}{{ "?url=\"+c(b.location)+\"&title=\"+c(b.title)+\"&notes=\"+c(a.getSelection()),\"bkmk_popup\",\"left=\"+((a.screenX||a.screenLeft)+10)+\",top=\"+((a.screenY||a.screenTop)+10)+\",height=420px,width=550px,resizable=1,alwaysRaised=1\");a.setTimeout(function(){d.focus()},300)})();'>Bookmarklet</a>" }}  |
<a href="{% url 'bookmarkmanager:bm_logout' %}">Logout</a><br/>
</div>
{% endcomment %}

{% block main %}
{% if session %}
        <div>
            <h1>Session: {{ session.title|default:session.datetime_added}} <a href="{% url 'bookmarkmanager:edit_session' session.id %}"><img src="{% static 'bookmarkmanager/page_white_edit.png' %}"/></a> <a href="{% url 'bookmarkmanager:delete_session' session.id %}"><img src="{% static 'bookmarkmanager/cross.png' %}"/></a></h1>
            <div id="session-info">
            {% if session.title %}Added: {{session.datetime_added}}<br/>{% endif %}
            {% if session.notes %}<div class="index-bookmark-notes"><p>{{ session.notes }}</p></div>{% endif %}
            {% if session.tags.all %}
                <span>> 
                {% for tag in session.tags.all %}
                    <a href="{% url 'bookmarkmanager:index' %}?page=1&per_page={{per_page}}&s={{session.id}}{% if current_tags %}{{ '&tags='|add:current_tags|add:','|add:tag.slug }}{% else %}{{ '&tags='|add:tag.slug }}{% endif %}">{{ tag.name }}</a>{% if not forloop.last %}, 
{% endif %}
                {% endfor %}
                </span>
            {% endif %}
            </div>
        </div>
{% else %}
        <div>
            <h1>Bookmarks</h1>
        </div>
{% endif %}

<div id="rest-of-page">
{% if count > 0 and bookmarks %}
    <span class="index-buttons"><input type="button" onClick="$('.index-bookmark-url').toggle()" value="Show/Hide URLs"/><input type="button" onClick="$('.index-bookmark-notes').toggle()" value="Show/Hide Notes"/></span><br/>
    {{ count }} Bookmark{{ count|pluralize }} {% if tags %}{% if session %}including those {% endif %}matching the tag{{ tags|pluralize }}: {% for tag in tags %}{{ tag.name }}<a href="{% url 'bookmarkmanager:index' %}?page=1&per_page={{per_page}}{{ '&tags='|add:current_tags }}{{ '&removetag='|add:tag.slug }}"><img src="{% static 'bookmarkmanager/cross.png' %}"/></a>{% if not forloop.last %}, {% endif %}{% endfor %}.{% else %}in Total.{% endif %}  Showing newest ({{ page_start }} to {{ page_end }}).<br/>

    <ul>
    {% for bookmark in bookmarks %}
        <li>
            <div class="index-bookmark-title"><a href="{{ bookmark.url }}">{{ bookmark.title }}</a> <a href="{% url 'bookmarkmanager:edit_bookmark' bookmark.id %}"><img src="{% static 'bookmarkmanager/page_white_edit.png' %}"/></a> <a href="{% url 'bookmarkmanager:delete_bookmark' bookmark.id %}"><img src="{% static 'bookmarkmanager/cross.png' %}"/></a> <a href="{% url 'bookmarkmanager:view_bookmark' bookmark.id %}"><img src="{% static 'bookmarkmanager/magnifying_glass_alt.png' %}"/></a></div>
            {% if bookmark.url %}<div class="index-bookmark-url">{{ bookmark.url }}</div>{% endif %}
            {% if bookmark.notes %}<div class="index-bookmark-notes"><p>{{ bookmark.notes }}</p></div>{% endif %}
            {% if bookmark.tags.all %}
                <span>> 
                {% for tag in bookmark.tags.all %}
                    <a href="{% url 'bookmarkmanager:index' %}?page=1&per_page={{per_page}}{% if current_tags %}{{ '&tags='|add:current_tags|add:','|add:tag.slug }}{% else %}{{ '&tags='|add:tag.slug }}{% endif %}">{{ tag.name }}</a>{% if not forloop.last %}, {% endif %}
                {% endfor %}
                </span>
            {% endif %}
        </li>
    {% endfor %}
    </ul>
    {% autoescape off %}
    <div>Page: {{ pager|join:" | " }}  go to: <form id="go-to-page-form"><input type="text" size="4" name="page"/><input type="hidden" name="per_page" value="{{ per_page }}" />{% if tags %}<input type="hidden" name="tags" value = "{{current_tags}}">{% endif %}{% if session %}<input type="hidden" name="s" value = "{{session.id}}">{% endif %}<input type="submit" value="Go" /></div>
    <div>Offset: {{ offsets|join:" | " }}</div>
    {% endautoescape %}
{% else %}
    <p>No bookmarks.</p>
{% endif %}

<script src="{% static 'bookmarkmanager/js/jquery-2.1.4.js'  %}" >
</script>
</div>
{% endblock main %}

{% comment 'this section now also moved to base template' %}
</body>
</html>
{% endcomment %}
