{% load staticfiles %}

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

<form method="post" action="{% url 'bookmarkmanager:login' %}">
{% csrf_token %}
<table>
<tr>
    <td>{{ form.username.label_tag }}</td>
    <td>{{ form.username }}</td>
</tr>
<tr>
    <td>{{ form.password.label_tag }}</td>
    <td>{{ form.password }}</td>
</tr>
</table>

<input type="submit" value="login" />
<input type="hidden" name="next" value="{{ next }}" />
</form>

<!--
<script src="{% static 'bookmarkmanager/js/js.cookie.js' %}"></script>
<script>
function scrapCookie() {
    Cookies.remove('csrftoken');
    Cookies.remove('sessionid');
    console.log('did thing')
}
</script>
<input type="button" value="Scrap Cookie" onclick="scrapCookie()"  />
-->

