{% extends "bookmarkmanager/base.html" %}
{% load staticfiles %}

{% block title %}Sessions {{ block.super }}{% endblock title %}

{% load staticfiles %}

{% comment 'this section now moved to base template' %}
<html>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'bookmarkmanager/css/style.css' %}">
</head>
<body>

<div id="header">
<a href="{% url 'bookmarkmanager:sessions' %}">All Sessions</a>  |  <a href="{% url 'bookmarkmanager:index' %}">All Bookmarks</a>  |  <a href="{% url 'bookmarkmanager:add_bookmark' %}">Add a bookmark</a>  |
{{ "<a href='javascript:(function(){var a=window,b=document,c=encodeURIComponent,d=a.open(\"https://" |add:base_url|safe }}{% url "bookmarkmanager:add_bookmark" %}{{ "?url=\"+c(b.location)+\"&title=\"+c(b.title)+\"&notes=\"+c(a.getSelection()),\"bkmk_popup\",\"left=\"+((a.screenX||a.screenLeft)+10)+\",top=\"+((a.screenY||a.screenTop)+10)+\",height=420px,width=550px,resizable=1,alwaysRaised=1\");a.setTimeout(function(){d.focus()},300)})();'>Bookmarklet</a>" }}  |
<a href="{% url 'bookmarkmanager:bm_logout' %}">Logout</a><br/>
</div>
{% endcomment %}

{% block main %}
<div>
    <h1>Sessions</h1>
</div>

<div id="rest-of-page">
{% if count > 0 and sessions %}
    <span class="index-buttons"><input type="button" onClick="$('.index-bookmark-notes').toggle()" value="Show/Hide Notes"/></span><br/>
    {{ count }} Session{{ count|pluralize }} {% if tags %}matching the tag{{ tags|pluralize }}: {% for tag in tags %}{{ tag.name }}<a href="{% url 'bookmarkmanager:sessions' %}?page=1&per_page={{per_page}}{{ '&tags='|add:current_tags }}{{ '&removetag='|add:tag.slug }}"><img src="{% static 'bookmarkmanager/cross.png' %}"/></a>{% if not forloop.last %}, {% endif %}{% endfor %}.{% else %}in Total.{% endif %}  Showing newest ({{ page_start }} to {{ page_end }}).<br/>
    <ul>
    {% for session in sessions %}
        <li>
            <div class="index-bookmark-title">Session: <a href="{% url 'bookmarkmanager:index' %}?page=1&per_page={{per_page}}&s={{ session.id }}">{{ session.title|default:session.datetime_added}}</a> <a href="{% url 'bookmarkmanager:edit_session' session.id %}"><img src="{% static 'bookmarkmanager/page_white_edit.png' %}"/></a> <a href="{% url 'bookmarkmanager:delete_session' session.id %}"><img src="{% static 'bookmarkmanager/cross.png' %}"/></a> {% if session.title %}{{session.datetime_added}}{% endif %}</div>
            {% if session.notes %}<div class="index-bookmark-notes"><p>{{ session.notes }}</p></div>{% endif %}
            {% if session.tags.all %}
                <span>> 
                {% for tag in session.tags.all %}
                    <a href="{% url 'bookmarkmanager:sessions' %}?page=1&per_page={{per_page}}{% if current_tags %}{{ '&tags='|add:current_tags|add:','|add:tag.slug }}{% else %}{{ '&tags='|add:tag.slug }}{% endif %}">{{ tag.name }}</a>{% if not forloop.last %}, {% endif %}
                {% endfor %}
                </span>
            {% endif %}
        </li>
    {% endfor %}
    </ul>
    {% autoescape off %}
    <div>Page: {{ pager|join:" | " }}  go to: <form id="go-to-page-form"><input type="text" size="4" name="page"/><input type="hidden" name="per_page" value="{{ per_page }}" />{% if tags %}<input type="hidden" name="tags" value = "{{current_tags}}">{% endif %}<input type="submit" value="Go" /></form></div>
    <!--<div>Page: {{ page }} of {{ num_pages }}</div>-->
    <div>Offset: {{ offsets|join:" | " }}</div>
    {% endautoescape %}
{% else %}
    <p>No sessions.</p>
{% endif %}
</div>

<script src="{% static 'bookmarkmanager/js/jquery-2.1.4.js'  %}" >
</script>
{% endblock main %}

{% comment 'this section now also moved to base template' %}
</body>
</html>
{% endcomment %}
