{{ count }} Tags<br/>
<br/>
<!--
{% for tag in tags %}
    {{ tag.name }} (Sessions: {{ tag.sessions.count }} Bookmarks: {{ tag.bookmarks.count }})<br/>
{% endfor %}
-->

Sort by: alpha | Sessions | Bookmarks | Total Tagged Items<br/>
<br/>
{% for tag in taginfo %}
    {% for info in tag %}
       {% if forloop.counter == 1 %}{{ info }}: {% endif %}
       {% if forloop.counter == 2 %}(Sessions:  <a href="{% url 'bookmarkmanager:sessions' %}?page=1&per_page=10&tags={{ info }}">{% endif %}
       {% if forloop.counter == 3 %}{{ info }}</a>{% endif %}
       {% if forloop.counter == 4 %} Bookmarks:  <a href="{% url 'bookmarkmanager:index' %}?page=1&per_page=10&tags={{ info }}">{% endif %}
       {% if forloop.counter == 5 %}{{ info }}</a>){% endif %}
    {% endfor %}<br/>
{% endfor %}
