@import url(//fonts.googleapis.com/css?family=Roboto);
@import url(//fonts.googleapis.com/css?family=Arvo);
@import url(//fonts.googleapis.com/css?family=Amethysta);


body {
    margin: 0px;
}

*{
 font-family: 'Amethysta', sans-serif;
}

a:link, a:visited {
    color:#60748E;
}
a:hover {
    color:#8094AE;
}
div {
    color:#333;
}

h1 {
    background-color: #60748E;
    /*background-color: lightsteelblue;*/
    padding: 8px 8px 8px 28px;
    /*font-family:Amethysta;*/
}

h1, h1 a:link, h1 a:visited, h1 a:hover {
    color: white;
}


h1 a {
    text-decoration: none;
    /*position:relative;*/
}

h1 a:hover {
    text-decoration: underline;
}

/*
h1 a:hover::after { 
    content:''; 
    position:absolute; 
    top: 50%; 
    left: 0; 
    right:0; 
    border-bottom: 2px solid white;
}
*/

#header {
    margin: 8px;
}

div#session-info, div#bookmark-info {
    margin: 28px;
}

.index-buttons {
  margin: 0px 0px 0px 0px;
}

.index-buttons input {
  margin: -18px 0px 0px 6px;
}

#rest-of-page {
    margin: 0px 28px 28px 28px;
}

ul {
    list-style-type: square;
    -webkit-padding-start: 20px;
}

.index-bookmark-title {
  /*overflow: hidden;
  text-overflow: ellipsis;*/
  word-wrap:break-word;
}

.index-bookmark-url, .bookmark-url {
  font-style: italic;
  /*overflow: hidden;
  text-overflow: ellipsis;*/
  word-wrap:break-word;
}

.index-bookmark-notes , .bookmark-notes {
  border-top: 1px solid #DDD;
  border-bottom: 1px solid #DDD;
  margin-top: 8px;
  margin-bottom:8px;
  margin-left: 0px;
  margin-right: 0px;
  padding: 0px;
  white-space: pre-wrap;
  /*overflow: hidden;
  text-overflow: ellipsis;*/
  word-wrap:break-word;
}

#go-to-page-form {
  display: inline;
}

/* aim in future for these next values to be toggleable */

.index-bookmark-url {
  display: none;
}

.index-bookmark-notes {
  display: none;
}
